table {
        border-width: 5px;
        border-spacing: 1px;
        border-style: outset;
        border-color: black;
        border-collapse: separate;
        background-color: white;
}
 th {
        border-width: 1px;
        padding: 1px;
        border-style: inset;
        border-color: black;
        background-color: white;
}
 td {
        border-width: 1px;
        padding: 1px;
        border-style: inset;
        border-color: black;
        background-color: white;
	text-align: center;
}

